menu "Example Configuration"

config HELLO_MESSAGE
    string "Display message"
	default "Hello world!"
	help
		Message string to display in loop.
		
config LOOP_DURATION
    int "Loop duration"
	range 100 10000
	default 1000
	help
		Loop duration in milliseconds (100-10,000 msec)

endmenu
